* {
    margin: 0px;
    padding: 0px;
    color: white;
    text-decoration: none;
    list-style: none;
}

:root {
    --cor001: #68A1F8;
    --cor002: #2F2F2F;
    --cor003: #ffffff;
    --font001: 'Archivo', sans-serif;
    --font002: 'Inter', sans-serif;
}

html, body, main {
    width: 100%;
    height: 100%;
    background-color: var(--cor003);
    scroll-behavior: smooth;
}

.archivo {
    font-family: var(--font001);
    font-size: 400;
}

.inter {
    font-family: var(--font002);
    font-size: 400;
}

button {
    border: 0px;
    cursor: pointer;
}

header {
    box-sizing: border-box;
    height: 80px;
    padding: 0px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor002);
}

header img {
    height: 61px;
}

#menu {
    display: flex;
    gap: 16px;
}

#menu button {
    background-color: var(--cor002);
}

#quem-somos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#quem-somos h2 {
    font-size: 72px;
    font-weight: 700;
    color: var(--cor002);
}

#quem-somos h3 {
    font-size: 36px;
    font-weight: 400;
    color: var(--cor002);
}

#img-box {
    background: var(--cor002) url(../img/artwork1-desfocado.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 420px;
    box-sizing: border-box;
}

#img-box img {
    height: 134px;
    margin-bottom: 16px;
}

#img-box p {
    font-size: 32px;
}

#img-box button {
    font-weight: 700;
    font-size: 16px;
    width: 180px;
    height: 36px;
    border-radius: 16px;
    background-color: var(--cor001);
    margin-top: 32px;
}

#img-box button:hover {
    background-color: #96bffc;
}

#card-box {
    display: flex;
    padding: 80px;
    gap: 16px;
}

.card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--cor002);
    border-radius: 8px;
    padding: 24px;
    height: 299px;
    text-align: start;
}

#card-1 {
    flex: 0 0 304px;
} 

#card-2 {
    flex: 1 1 auto;
}

.h-card {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 33px;
}

.h-card img {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    height: 72px;
    width: 72px;
    background-color: var(--cor003);
    border-radius: 16px;
}

.h-card p {
    font-size: 32px;
    font-weight: 700;
}

#c-card {
    display: flex;
    gap: 40px;
}

.social {
    display: flex;
    margin: 40px auto 64px auto;
    gap: 28px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 16px;
    background-color: var(--cor002);
    box-sizing: border-box;
}

.social img {
    width: 64%;
    height: 64%;
}

#contact {
    position: relative;
    background-color: var(--cor002);
    padding: 80px;
    box-sizing: border-box;
}

#contact p {
    font-size: 32px;
    font-weight: 700;
}

#contact p::after {
    content: ".";
    color: var(--cor001);
}

#contact picture img {
    height: 134px;
    margin: 47px 0px 27px;
}

#social-contact {
    position: absolute;
    top: 144px;
    right: 80px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 788px;
    box-sizing: border-box;
    margin-top: 32px;
}

.entry {
    border: 0px;
    padding: 12px 16px;
    width: calc(100% - 32px);
    color: var(--cor002);
    font-size: 16px;
    font-weight: 500;
}

form button {
    width: 120px;
    height: 40px;
    color: var(--cor002);
}

form button:hover {
    background-color: lightgray;
}

@media screen and (max-width: 568px) {
    header {
        padding: 0px 32px;
    }

    #img-box {
        height: 313px;
        margin-bottom: 24px;
    }

    #img-box img {
        height: 61px;
    }

    #img-box p {
        font-size: 12px;
    }
    
    #card-box {
        display: flex;
        flex-direction: column;
        padding: 36px;
        gap: 16px;
    }

    .h-card img {
        width: 72px;
        height: 72px;
    }

    .h-card p {
        font-size: 16px;
        font-weight: 700;
    }
    
    #card-1, #card-2 {
        max-width: 303px;
        margin: auto;
    }

    #card-1 {
        height: 299px;
    }

    #card-2 {
        height: 450px;
    }

    #c-card {
        display: flex;
        flex-direction: column;
    }

    #quem-somos h2 {
        font-size: 24px;
    }

    #quem-somos h3 {
        font-size: 12px;
    }

    .social {
        display: flex;
        margin: 24px auto 64px auto;
        gap: 13px;
    }

    .social a {
        border-radius: 11px;
        width: 48px;
        height: 48px;
    }

    #contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 70px;
        height: 847px;
    }

    #contact picture img {
        height: 123px;
        margin: 32px 0px;
    }

    #contact p {
        font-size: 24px;
        font-weight: 700;
    }

    #social-contact {
        position: static;
        display: flex;
        margin: 24px auto 13px auto;
        gap: 13px;
    }

    #social-contact a {
        height: 48px;
        width: 48px;
        border-radius: 11px;
    }

    #social-contact img {
        width: 64%;
        height: 64%;
    }

    #social-contact {
        position: static;
    }

    form button {
        width: 100%;
    }
}